@theme {
    --color-cornflower-blue-50: #eff2fe;
    --color-cornflower-blue-100: #e3e7fc;
    --color-cornflower-blue-200: #cad2fa;
    --color-cornflower-blue-300: #a8b3fa;
    --color-cornflower-blue-400: #7f8af6;
    --color-cornflower-blue-500: #6467F2;
    --color-cornflower-blue-600: #5046e5;
    --color-cornflower-blue-700: #433ac6;
    --color-cornflower-blue-800: #3730a2;
    --color-cornflower-blue-900: #303279;
    --color-cornflower-blue-950: #1b1d4a;

    --color-cocoa-bean-50: #fcf3f4;
    --color-cocoa-bean-100: #fae9ec;
    --color-cocoa-bean-200: #f6d3d9;
    --color-cocoa-bean-300: #f4afbc;
    --color-cocoa-bean-400: #ea7e95;
    --color-cocoa-bean-500: #df6080;
    --color-cocoa-bean-600: #cb496c;
    --color-cocoa-bean-700: #ad3d5b;
    --color-cocoa-bean-800: #90314b;
    --color-cocoa-bean-900: #743041;
    --color-cocoa-bean-950: #471824;

    --color-madras-50: #f4ffe8;
    --color-madras-100: #e8fdce;
    --color-madras-200: #d3fb9a;
    --color-madras-300: #baf455;
    --color-madras-400: #a0e500;
    --color-madras-500: #8acc00;
    --color-madras-600: #6ca200;
    --color-madras-700: #537b00;
    --color-madras-800: #426200;
    --color-madras-900: #3b520d;
    --color-madras-950: #203001;

    --color-dove-gray-50: #fafafa;
    --color-dove-gray-100: #f5f5f5;
    --color-dove-gray-200: #e5e5e5;
    --color-dove-gray-300: #d4d4d4;
    --color-dove-gray-400: #a1a1a1;
    --color-dove-gray-500: #737373;
    --color-dove-gray-600: #525252;
    --color-dove-gray-700: #404040;
    --color-dove-gray-800: #262626;
    --color-dove-gray-900: #171717;
    --color-dove-gray-950: #0a0a0a;

    --font-heading: "Lora", serif;
    --font-body: "Roboto", sans-serif;

    --radius: 0.5rem;
}